html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*--------------reset end-------------*/
html{font-family: 'Noto Sans TC', sans-serif;height: 100%}
body{box-sizing: border-box;height: 100%;max-width:100%;}


#head{width: 100%;min-height: 70px;border-bottom: 2px solid gray;}
#head>h1{float:left;height: 100%;padding: 0 30px;
         line-height: 70px;font-weight: 700;color: #262323;font-size: 20px;}
/*#head img{display: none;}*/
/*menu*/
#kkk{height: 60px;width: 70px;
            position: absolute;top:0px;right: 20px;;display: none;}
#ma{border-top:2px #000 solid;width: 20px;transition: all 1s;
            position: absolute;top:32px;right: 20px;}
#mb{border-top: 2px #000 solid;width: 20px;
            position: absolute;top:32px;right: 20px;}
.mc{border-top: 2px #000 solid;width: 20px;transition: all 1s;
            position: absolute;top:25px;right: 20px;}
.md{border-top: 2px #000 solid;width: 20px;transition: all 1s;
            position: absolute;top:39px;right: 20px;}
.t{;transform: rotate(230deg);}
.tt{transform:rotate(-230deg);transition: all 1s;}
.ttt{transform: translate(80px,0px); ;}   
/*menu end*/
/*header區*/
#head ul{float:right;padding: 0 10px;line-height: 70px;}
#head li{float:left;height: 70px;padding: 0 30px;}
#head a{text-decoration: none;color: #000;padding: 20px 0;}
#head a.sign{border: 2px solid #0089A7;padding: 7px 15px;border-radius: 8px;color: #0089A7}
#head a.sign:hover{background-color: #0089A7;color: aliceblue;
                    border: 2px solid #0089A7;
                    box-shadow: 2px 2px 2px 0 gray;}
/*footer區*/

footer{background-color: #0089A7;padding: 20px 0;text-align: center;
        
        width: 100%;color: aliceblue;overflow: hidden;}

.alert{width: 100%;height: 100%;position: fixed;top: 0;left: 0;
    background-color: rgba(128, 128, 128, 0.52);display: none;}
.alert div{height: 150px;width: 300px;background-color: aliceblue;padding: 50px;
        position: absolute;
        top: 50%;left: 50%;margin: -150px 0 0 -200px;
        border-radius: 8px;box-shadow: 2px 2px 2px 0 gray;
        border: 2px solid #0089A7;text-align: center;}
footer p{padding-bottom: 12px;}



@media (max-width: 992px){
    #head {}
    #head>h1{float:none;text-align: center;height: auto;padding: 0;}
   /* #head img{display: inline-block;position: absolute;top:10px;right: 30px;}*/
    #kkk{display: block;position: absolute;top:0px;right: 0px;overflow: hidden;}
    #head>ul{float:none;text-align: center;display: none;  padding: 0;}
    #head li{float:none;text-align: center;border-top:1px solid gray;padding: 0;}
    #head a{height: 100%;width: 100%;display: block;padding: 0;}
    #head a:hover{background: #0089A7;color: aliceblue;box-shadow: 2px 2px 2px 0 gray;}
    #head a.sign{border: 0;border-radius:0;
                 height: 100%;width: 100%;display: block;padding: 0;}
    #head a.sign:hover{}
    

   
    footer{background-color: saddlebrown;}
	}
@media (max-width:767px){
   
    footer{background-color: #d62c2c;}
    
}
@media (max-width: 575px){
    
    footer{background-color: #2e33b9;}
    .alert div{width: 200px;margin: -150px 0 0 -160px;}

    
}
